html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Verhindert Scrollen weltweit */
  background-color: #000;
}

/* Dein Container muss sich nicht mehr um die Zentrierung kümmern, das macht das main */
.product-grid {
  margin: 0;
  padding: 0;
}